* {
    margin: 0 ;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(6,12,45,1) 100%);
}

.avatar{
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    width: 80px;
    border-radius: 50px;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
    font-weight: 100;
}

.profile{
    text-align: center;
    margin-top: 15px;
}

.social img {
    
    width: 33px;
}

.social {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links-list {
list-style: none;

}
.links-list li{
    margin: 10px 20px;
}

.links-list li a {
    font-weight: bold;
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);

}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;

}

